<% @contracts.each do |contract| %>
  <% if contract.fully_signed_at == nil %>
    <div class="contract">
       <p><span class="show-keywords">Contract name:</span> <%= contract.name %></p>
        <% if current_user.role == "Individual" %>
          <p><span class="show-keywords">From:</span> <%= contract.company.company_name %></p>
        <% end %>
        <p><span class="show-keywords">Description:</span> <%= contract.description %></p>
        <p><span class="show-keywords">Status:</span> <%= contract.status %></p> 
      
      <%# <p>Contract has attachment: contract.document.attached?</p> %>
    </div>
  <% else %>
    <div class="contract">
       <p><span class="show-keywords">Contract name:</span> <%= contract.name %></p>
       <% if current_user.role == "Individual" %>
         <p><span class="show-keywords">From:</span> <%= contract.company.company_name %></p>
       <% end %>
       <p><span class="show-keywords">Description:</span> <%= contract.description %></p>
       <p><span class="show-keywords">Status:</span> <%= contract.status %></p> 
        <%# <p>Contract has attachment: contract.document.attached?</p> %>
    </div>
  <% end %>




<% end %>






