<%# <div class="container">
  <h2>Outstanding contracts</h2>
</div> %>

<%# <div>
  <%= @contracts.each do |contract|
    <%= link_to contract_path(contract) do %>
      <%# <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="contract preview">
      <div class="card-body">
      <h5 class="card-title">Contract</h5>
        <p class="card-text">Lorem Ipsum</p>
      </div>
    <%= end %>
  <%# <%= end %>
<%# </div> %> 

<% @contracts.each do |contract| %>
  <p><%= contract.status %></p>
<% end %>