<div class="contract-container">
  <h3>Contracts</h3>

 <h4>All contracts</h4>
  <div class="contract-overflow all-contract-container">

    <% @contracts.each do |contract| %>
      <div>
        <div style="width: 10rem;">
        <%= image_tag "contract.jpeg", class:"card-img-top" %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><p>Contract id: <%= contract.id %></p></li>
            <li class="list-group-item"><p>Contract Name: <%= contract.name %></p></li>
          </ul>
          <%# <% if current_user.role == "Individual" && current_user.individual == contract.individual && contract.fully_signed_at.nil? %>
              <%# <%= link_to "SIGN ME NOW", contract_path(contract) %>
            <%# <% end %>
          <%# <div class="card-body">
            <p>Contract status: <%= contract.status %></p>
            <%# <p>Contract has attachment: <%= contract.document.attached? %></p>
          <%# </div> %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Create new contract", new_contract_path %>

</div>
