<div class="container-create-contract">
  <h2>New Contract</h2>

  <%= simple_form_for [@contract] do |f| %>
    <%= f.input :name, label: "Contract name" %>
    <%= f.input :description, label: "Brief description of the contract" %>
    <%= f.input :recipient_email, required: true %>
    <%= f.input :document, as: :file, required: true  %>
    <%= f.button :submit, 'Send it out!', class: "home-button create-contract" %>
  <% end %>
</div>
