<div class="container-create-contract">

  <div class="container-split">
    <div class="new-contract-form">
      <h2 class="section-title">New Contract</h2>
      <%= simple_form_for [@contract], class:"form" do |f| %>
        <%= f.input :name, placeholder: "Contract name" %>
        <%= f.input :description, placeholder: "Brief description of the contract" %>
        <%= f.input :title, collection: %w[Mr Ms Mx] %>
        <%= f.input :first_name, placeholder: "First name" %>
        <%= f.input :last_name, placeholder: "Last name" %>
        <%= f.input :recipient_email, placeholder: "Recipient e-mail", required: true %>
        <%= f.input :document, as: :file, required: true  %>
        <%= f.button :submit, 'Send it out!', class: "create-contract" %>
      <% end %>
    </div>

    <div class="new-contract-img">
      <%= image_tag "new_contract.svg", class: "img-form" %>
    </div>
  </div>
</div>
