<div class="container-create-contract">
  <h2>Create a new contract</h2>

  <%= simple_form_for [@contract] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :recipient_email %>
    <%= f.input :document, as: :file, required: false  %>
    <%= f.button :submit, 'Create Contract !', class: "home-button create-contract" %>
  <% end %>
</div>
