<%# <%= render 'form', contracts: @contracts %>
<h1>Create a new contract</h1>

<%= link_to %>

<%= simple_form_for [@contract] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :recipient_email %>
  <%= f.input :document, as: :file
  <%= f.button :submit, 'Create Contract!'%>
<% end %>
