  <h4>Unsigned Contracts</h4>
  <div class="contract-overflow unsigned-contracts">

    <% @contracts.each do |contract| %>
      <div>
        <div style="width: 10rem;">
        <%=  image_tag "contract.jpeg", class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><p>Contract id: <%= contract.id %></p> Contract Name: <%= contract.name %></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><p>Contract created at: <%= contract.created_at %></p></li>
            <li class="list-group-item"><p>Contract signed at: <%= contract.fully_signed_at %></p></li>
          </ul>
          <% if current_user.role == "Individual" && current_user.individual == contract.individual && contract.fully_signed_at.nil? %>
              <%= link_to "SIGN ME NOW", contract_path(contract) %>
            <% end %>
          <div class="card-body">
            <p>Contract status: <%= contract.status %></p>
            <p>Contract has attachment: <%= contract.document.attached? %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h4>Signed contracts</h4>
  <div class="contract-overflow signed-contracts">

<% @contracts.each do |contract| %>
      <div>
        <div style="width: 10rem;">
        <%=  image_tag "contract.jpeg", class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><p>Contract id: <%= contract.id %></p> Contract Name: <%= contract.name %></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><p>Contract created at: <%= contract.created_at %></p></li>
            <li class="list-group-item"><p>Contract signed at: <%= contract.fully_signed_at %></p></li>
          </ul>
          <% if current_user.role == "Individual" && current_user.individual == contract.individual && contract.fully_signed_at.nil? %>
              <%= link_to "SIGN ME NOW", contract_path(contract) %>
            <% end %>
          <div class="card-body">
            <p>Contract status: <%= contract.status %></p>
            <p>Contract has attachment: <%= contract.document.attached? %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
