<div class="container-show-contract">
  <div class="container-left">
    <h2><%= @contract.name %></h2>
    <p><span class="show-keywords">Contract description:</span> <%= @contract.description %></p>
    <p><span class="show-keywords">From:</span> <%= "#{@contract.company.company_name}" %></p>

  </div>

  <div class="container-right">
    <%= image_tag "agreement.svg", class: "img-form" %>
  </div>

</div>












  <% if @contract.fully_signed_at.nil? %>
    <p><span class="show-keywords">Received on:</span> <%= @contract.created_at.localtime.strftime("%Y/%m/%d %H:%M") %></p>
  <% end %>
  <% if !@contract.fully_signed_at.nil? %>
    <p><span class="show-keywords">Signed on:</span> <%= @contract.fully_signed_at.localtime.strftime("%Y/%m/%d %H:%M") %></p>
  <% end %>
  <% if @contract.document.attached? && @contract.fully_signed_at.nil? %>
    <%= link_to "View contract", rails_blob_path(@contract.document, disposition: 'attachment'), class: "home-button btn-sign show-sign-btn download-contract" %>
  <% end %>
  <% if @contract.document.attached? && !@contract.fully_signed_at.nil? %>
    <%= link_to "View signed contract", rails_blob_path(@contract.document, disposition: 'attachment'), class: "home-button btn-sign show-sign-btn download-contract" %>
  <% end %>


  <% if current_user.role == "Individual" && current_user.individual == @contract.individual && @contract.fully_signed_at.nil? %>
    <div class="sign-form">
      <%= form_tag contract_path(@contract), method: :patch do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Please enter your name here to sign the contract: #{@contract.individual.full_name}"
        %>
        <%= submit_tag "Search", class: "d-none" %>
      <% end %>
    </div>
      <%= link_to "Sign contract", sign_contract_path(@contract), method: :patch, class: "home-button btn-sign show-sign-btn" %>
  <% end %>
