<div class="contracts-section">
  <h2 class="section-title">Unsigned Contracts</h2>

  <div data-controller="search-contracts">
    <%= form_tag unsigned_path, method: :get, data: { search_contracts_target: 'form' }, class: "test" do %>
      <%= text_field_tag :query, params[:query], class: "search-bar", placeholder: "Search a contract", data: { search_contracts_target: 'input', action: "keyup->search-contracts#update" } %>
      <%= submit_tag "Search", class: "d-none" %>
    <% end %>

    <div class="all-contracts" data-search-contracts-target="contracts">
      <%= render 'contracts/contracts.html', contract: @contracts %>
    </div>
  </div>

</div>

<%# <div data-controller="update-notifs">
  <span style="color: white" class="notif count" data-remote="true" data-insert-in-list-target="notif-number"><%= Contract.all.where(individual_id: current_user.individual.id).where(status: "unopened").count + Contract.all.where(individual_id: current_user.individual.id).where(status: "opened").count %>
<%# </div> %>
