<div class="container-sell-form">
    <div class="container-form">
        <h3 class="title-form">Enter your details</h3>
        <%= simple_form_for @individual do |f| %>
        <div>
          <%= f.input :title, label_html: { class: "row justify-content-center"} %>
          <%= f.input :first_name, input_html: { class: "row justify-content-center"} %>
          <%= f.input :last_name, label_html: { class: "row justify-content-center"} %>
          <%= f.input :birth_date, label_html: { class: "row justify-content-center"} %>
          <%= f.input :phone_number, label_html: { class: "row justify-content-center"} %>
          <%= f.button :submit, 'Confirm details', class: 'btn btn-submit' %>
        <% end %>
      </div>
</div>
