<div class="container-sell-form">
    <div class="container-form">
        <h3 class="title-form">Enter your details</h3>
        <%= simple_form_for @individual do |f| %>
        <div>
          <%= f.input :title, collection: ["Mr", "Ms", "Mx"] %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :birth_date %>
          <%= f.input :phone_number %>
          <%= f.input :signature, as: :file %>
          <%= f.button :submit, 'Confirm your details', class: 'btn btn-submit' %>
        <% end %>
      </div>
</div>
