<div class="container-details-show">
  <div class="details-infos">
    <h2 class="section-title">Your details</h2>
    <div class="details-infos-content">
      <p><%= @individual.title %> <%= @individual.first_name %> <%= @individual.last_name %><p>
      <p>Date of birth: <%= @dob %></p>
      <% if @individual.signature.attached? %>
        <p><span class="show-keywords">Signature: <%= image_tag @individual.signature, height: 50, crop: :fill %></p>
      <% end %>
      <p class="last-element">Phone number: <%= @phone_no %></p>

      <%= link_to "Edit your details", edit_individual_path, class: "home-btn"%>
    </div>
  </div>
  <div class="details-img">
    <%= image_tag "see-personal-infos.svg", class:"img-form"%>
  </div>
</div>
