<div class="container">
  <h2>Your details</h2>
    <h4>Title: <%= @individual.title %><h4>
    <h4>First name: <%= @individual.first_name %><h4>
    <h4>Last name: <%= @individual.last_name %><h4>
    <h4>Date of birth: <%= @individual.birth_date %><h4>
    <h4>Phone number: <%= @individual.phone_number %><h4>
</div>
