<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div>
    <%= link_to root_path ,class: "navbar-brand" do %>
      <%= image_tag "logo.svg", class:"logo" %>
    <% end %>
  </div>

    <% if user_signed_in? %>
      <ul class="navbar-nav">
        <% if current_user.role == "Company" %>
          <% if current_user.company %>
              <li class="nav-item">
                <%= link_to "Unsigned", unsigned_path %>
              </li>
              <li>
                <%= link_to new_contract_path do %>
                  <ion-icon name='add-circle-outline' class='ionicon-add-contract'></ion-icon>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to "Signed", signed_path %>
              </li>
          <% end %>
        <% else %>
          <% if current_user.individual %>
            <li class="nav-item">
              <%= link_to "Unsigned", unsigned_path %>
            </li>
            <li>
              <%= link_to root_path do %>
                <ion-icon name='home-outline' class='ionicon-add-contract'></ion-icon>
              <% end %>
              </li>
             <li class="nav-item">
              <%= link_to "Signed", signed_path %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <% if current_user.role == "Company" %>
        <div class="nav-login-signup">
          <% if !current_user.company.nil? %>
            <p class="nav-item"><%= current_user.company.company_name %></p>
          <% end %>
          <%= link_to "Log out", destroy_user_session_path, class: "nav-item light", method: "delete" %>
        </div>
      <% else %>
        <div class="nav-login-signup">
          <% if !current_user.individual.nil? %>
            <p class="nav-item name"><%= current_user.individual.first_name %></p>
          <% end %>
          <%= link_to "Log out", destroy_user_session_path, class: "nav-item light", method: "delete" %>
        </div>
      <% end %>

    <% else %>
      <div class="nav-login-signup">
        <%= link_to "Login", new_user_session_path, class: "nav-item light" %>
        <%= link_to "Sign up", new_user_registration_path, class: "nav-item" %>
      </div>
    <% end %>

</div>
