<div class="navbar navbar-expand-sm navbar-light navbar-lewagon scroll-snap">
  <div>
    <%= link_to root_path ,class: "navbar-brand" do %>
      <%= image_tag "logo.svg", class:"logo" %>
    <% end %>
  </div>

  <div class="clc">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <% if current_user.role == "Company" %>
          <% if current_user.company %>
            <li class="nav-item">
              <%= link_to "Unsigned", unsigned_path %>
            </li>
            <li class="li-icon">
              <%= link_to new_contract_path do %>
                <ion-icon name='add-circle-outline' class='ionicon-add-contract'></ion-icon>
              <% end %>
            </li>
            <li class="nav-item li-signed">
              <%= link_to "Signed", signed_path %>
            </li>
          <% end %>
        <% else %>
          <% if current_user.individual %>
            <li class="nav-item">
              <%= link_to "Unsigned", unsigned_path %>
            </li>
            <li class="li-icon">
              <%= link_to root_path do %>
                <ion-icon name='home-outline' class='ionicon-add-contract'></ion-icon>
              <% end %>
              </li>
             <li class="nav-item li-signed">
              <%= link_to "Signed", signed_path %>
            </li>
          <% end %>
        <% end %>


        <% if current_user.role == "Company" %>
          <% if !current_user.company.nil? %>
              <li class="nav-item">
                <%# link_to current_user.company.company_name[0] + ".", class: "light company-name" %>
                <p class="company-name" style=" border: 3px solid rgba(4, 67, 118, 0.8);
                                                border-radius: 500px;
                                                width: 33px;
                                                height: 33px;
                                                text-align: center;
                                                display: inline-block;">
                  <%= current_user.company.company_name[0] + "." %>
                </p>
              </li>
              <li class="nav-item">
                <%= link_to "Log out", destroy_user_session_path, class: "light", method: "delete" %>
              </li>
          <% end %>
        <% elsif !current_user.individual.nil? %>
            <li class="nav-item">
              <%= link_to individual_path(current_user.individual), class:"name" do %>
                <%= current_user.individual.first_name %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, class: "light", method: "delete" %>
            </li>
        <% end %>
      <% else %>
        <li class="nav-item li-login">
          <%= link_to "Login", new_user_session_path, class: "light" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
