<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div>
    <%= link_to root_path ,class: "navbar-brand" do %>
      <%= image_tag "logo.svg", class:"logo" %>
    <% end %>
  </div>

  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>


    <% if user_signed_in? %>
      <ul class="navbar-nav">
        <% if current_user.role == "Company" %>
          <% if current_user.company %>
              <li class="nav-item">
                <%= link_to "Unsigned", unsigned_path %>
              </li>
              <li class="nav-item">
                <%= link_to "Signed", signed_path %>
              </li>
          <% end %>
        <% else %>
          <% if current_user.individual %>
            <li class="nav-item">
              <%= link_to "Unsigned", unsigned_path %>
            </li>
             <li class="nav-item">
              <%= link_to "Signed", signed_path %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <p>Hello, <%= link_to current_user.individual.first_name, individual_path(current_user.individual) %></p>

    <% else %>
      <div>
        <%= link_to "Login", signed_path, class: "nav-item" %>
        <%= link_to "Sign up", signed_path, class: "nav-item" %>
      </div>
    <% end %>


</div>
