<div>
<div class="scroll-container" id="scroll-container">
  <div class="main-section">
    <div class="main-section-text">
      <h1>Signing<br><span class="underline">contracts</span><br>made easy.</h1>
      <%= link_to "Get started", unsigned_path, class: "home-home-btn" %>
    </div>
    <div class="main-section-img">
      <%= image_tag "contract-undraft.svg" %>
    </div>
    <%= image_tag "polygon.svg", class: "polygon" %>
  </div>
  <div class="section-how scroll-snap">
    <h2 class="section-title">How does EZ-Contract work?</h2>
    <div class="section-how-cards">
      <div class="card">
        <ion-icon name="send-outline" class="ionicon-how"></ion-icon>
        <h3 class="section-title section-title-pad-bottom-fix">Send</h3>
        <p>EZ-Contract allows companies to upload and send contracts to users.</p>
      </div>
      <div class="card">
        <ion-icon name="pencil-outline" class="ionicon-how"></ion-icon>
        <h3 class="section-title section-title-pad-bottom-fix">Sign</h3>
        <p>EZ-Contract allows users to view and sign contracts at the click of a button.</p>
      </div>
      <div class="card">
        <ion-icon name="cloud-download-outline" class="ionicon-how"></ion-icon>
        <h3 class="section-title section-title-pad-bottom-fix">Save</h3>
        <p>All of your contracts are always accessible once you have signed in.</p>
      </div>
    </div>
    <%= link_to "Get started", unsigned_path, class: "home-btn" %>
  </div>
  <div class="section-why scroll-snap">
    <h2 class="section-title">Why EZ-Contracts?</h2>
    <ul>
      <li><ion-icon name="leaf-outline" class="ionicon-why"></ion-icon> <span class="main-page-keywords">Environmentally friendly.</span> Going paperless helps to reduce your carbon footprint.</li>
      <li><ion-icon name="cloud-done-outline" class="ionicon-why"></ion-icon> <span class="main-page-keywords">Cloud Storage.</span> No more storing paper contracts, and no more losing contracts.</li>
      <li><ion-icon name="extension-puzzle-outline" class="ionicon-why"></ion-icon> <span class="main-page-keywords">Quick and Easy.</span> Online contracts have a 40% faster turnaround compared to paper versions.</li>
      <li><ion-icon name="checkmark-outline" class="ionicon-why"></ion-icon> <span class="main-page-keywords">Legally Binding.</span> All contracts signed on EZ-Contract are 100% legally binding.</li>
      <li><ion-icon name="cash-outline" class="ionicon-why"></ion-icon> <span class="main-page-keywords">Online signatures</span> Can be used by anyone in the world with an internet connection, and save you time and money.</li>
      <%= link_to "Get started", unsigned_path, class: "home-btn" %>
    </ul>
  </div>

<div class="section-pricing scroll-snap">
      <h2 class="section-title">Pricing</h2>
      <div class="pricing-explanation">
        <h4 class="pricing-desc">EZ-Contract is always free for individuals, and offers a 30-day free trial for companies</h4>
      </div>
      <div class="section-pricing-cards">
        <div class="card">
          <h3 class="section-title section-title-pad-bottom-fix">Standard</h3>
          <h6 class="font-weight-bold">£7.50 per month</h6>
          <p>Send up to 10 contracts each month</p>
          <button class="pricing-btn">Start</button>
        </div>

        <div class="card">
          <h3 class="section-title section-title-pad-bottom-fix">Pro</h3>
          <h6 class="font-weight-bold">£12.99 per month</h6>
          <p style="padding-top: 20px;">Send up to 30 contracts each month</p>
          <button class="pricing-btn">Start</button>
        </div>

        <div class="card">
          <h3 class="section-title section-title-pad-bottom-fix">Advanced</h3>
          <h6 class="font-weight-bold">£20 per month</h6>
          <p style="padding-top: 20px;">Unlimited contracts</p>
          <button class="pricing-btn">Start</button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer scroll-snap">
    <div class="container-footer container justify-content-end pt-5 py-4 d-flex justify-content-between align-items-start mb-4">
      <%= image_tag "logo-light-blue.svg" %>
      <div class="footer-cards-container ">
        <div class="card-deck-footer ">
          <div class="card-footer">
            <div class="card-body-footer">
              <h5 class="card-title">About Us</h5>
              <p class="card-text">FAQ</p>
              <p class="card-text">Press</p>
              <p class="card-text">Contact us</p>
              <p class="card-text">Privacy Policy</p>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-body-footer">
              <h5 class="card-title">Resources</h5>
              <p class="card-text">Blog</p>
              <p class="card-text">Development</p>
              <p class="card-text">Events</p>
              <p class="card-text">Webinars</p>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-body-footer">
              <h5 class="card-title">Corporate</h5>
              <p class="card-text">Training</p>
              <p class="card-text">Careers</p>
              <p class="card-text">Legal Notice</p>
              <p class="card-text">Our Team</p>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-body-footer">
              <h5 class="card-title">Follow us</h5>
              <p class="card-text">Instagram</p>
              <p class="card-text">Twitter</p>
              <p class="card-text">Facebook</p>
              <p class="card-text">Linkedin</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="container" style="background-color: white; height: 2px;">
    <div class="footer-bottom">
        <p>EZ-Contract</p>
        <p>©ezcontract2021</p>
      <div class="social-icons">
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-linkedin"></ion-icon>
      </div>
    </div>
  </div>
</div>
